@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

html {
  background: url("/images/bg.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  font-family: "Mouse Memoirs", sans-serif;
}

#root {
  height: 100vh;
}

.container {
  height: 100%;
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.start-menu {
  display: grid;
  gap: 57px;
  margin-inline: auto;
  border-radius: 48px;
  padding: 64px 30px;
  background: linear-gradient(180deg, #344aba 0%, rgba(0, 20, 121, 0.83) 100%);
  box-shadow: 0px 12px 0px 2px #2463ff inset, 0px -12px 0px 0px #140e66 inset;
  border: 2px solid #140e66;
}

.logo {
  margin-top: -120px;
  width: 263px;
}

.start-menu-container {
  display: grid;
  gap: 57px;
  justify-items: center;
}

.play-btn {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: 0px -12px 0px 0px #243041 inset, 0px -16px 0px 11px #9d2df5 inset;
  border: 2px solid #243041;
  &:hover {
    background: linear-gradient(180deg, #ff96ff 16.42%, #99b6ff 100%);
    box-shadow: 0px -12px 0px 0px #2d3847 inset, 0px -16px 0px 11px #a742f5 inset;
  }
  img {
    margin-inline: auto;
  }
}

.blue-btn {
  padding: 12px;
  width: 100%;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: #2463ff;
  border: 1px solid #140e66;
  box-shadow: 0px -2px 0px 3px #140e66 inset, 0px 1px 0px 6px #3c74ff inset;
  border-radius: 40px;

  &:hover {
    background-color: #5485ff;
  }
}

.tab-container {
  width: 100%;
  height: 100%;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-btn {
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: 0px -5px 0px -1px #9d2df540 inset;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: linear-gradient(180deg, #ff96ff 16.42%, #99b6ff 100%);
  }
}

.tab-header-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
  background: linear-gradient(180deg, #67b6ff 16.42%, #ffffff 100%);
  -webkit-text-stroke: 1px #243041; /* Kenar çizgisi */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.05em;
}

.how-to-play-list {
  margin-top: 80px;
  display: grid;
  gap: 24px;
  list-style: none;
  padding: 0;
}

.how-to-play-list-item {
  display: grid;
  gap: 16px;
  padding: 32px;
  background-color: #fff;
  border-radius: 20px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;

  span {
    grid-column: 1;
    grid-row: 1;
    color: #2463ff;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0.05em;
  }

  h2 {
    grid-column: 2;
    grid-row: 1;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #261676;
    letter-spacing: 0.05em;
  }

  p {
    grid-column: 1 / span 2;
    grid-row: 2;
    line-height: 19.2px;
    color: #887dc0;
    letter-spacing: 0.05em;
  }
}

.category-list {
  margin-top: 100px;
  display: grid;
  margin-inline: auto;
  gap: 24px;
  list-style: none;
  padding: 0;
}

.category-list-item {
  display: grid;
  button {
    font-size: 24px;
    line-height: 28.8px;
    color: #fff;
    background-color: #2463ff;
    box-shadow: 0px -2px 0px 3px #140e66 inset, 0px 1px 0px 6px #3c74ff inset;
    letter-spacing: 0.05em;
    border-radius: 20px;
    padding: 24px;
    border: none;

    &:hover {
      background-color: #5485ff;
    }
  }
}

.game-header {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.game-header-left {
  display: flex;
  gap: 16px;
  align-items: center;
  h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.005em;
    color: #fff;
  }
}

.game-header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 40%;
  max-width: 400px;
}

.progress-bar {
  width: 100%;
  height: 16px;
  background-color: #fff;
  border-radius: 96px;
  padding: 4px;
}

.progress-bar-fill {
  background-color: #261676;
  border-radius: 96px;
  height: 100%;
}

.game-content {
  display: grid;
  gap: 24px;
  justify-content: center;
  align-items: start;
  grid-template-columns: 1fr;
  margin-top: 60px;
}

.word-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 66px;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  background-color: #2463ff;
  box-shadow: 0px -2px 0px 3px #140e66 inset, 0px 1px 0px 6px #3c74ff inset;
  border-radius: 12px;
  opacity: 0.25;
}

.word-box.thenFour {
  width: 34px;
}

.word-box.thenSix {
  width: 36px;
}

.word-box.thenEight {
  width: 28px;
}

.word-box.thenTen {
  width: 25px;
}

.word-box.active {
  opacity: 1;
}

.word {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-self: self-start;
  justify-content: center;
  gap: 4px;
}

.word-box.space {
  opacity: 0;
}

.keyboard {
  display: grid;
  width: 80%;
  gap: 16px;
  margin-inline: auto;
  grid-template-columns: repeat(6, 1fr);
}

.keyboard-btn {
  padding: 4px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  font-size: 24px;
  line-height: 36px;
  color: #261676;

  &:hover {
    background-color: #2463ff;
    color: #fff;
  }
}

.keyboard-btn.passive {
  opacity: 0.25;
}

.modal {
  position: absolute;
  inset: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 100;
  background: linear-gradient(180deg, rgba(26, 4, 58, 0.9) 0%, rgba(21, 18, 120, 0.9) 70.31%, rgba(43, 22, 119, 0.9) 100%);
}

.modal-content {
  position: fixed;
  left: 26px;
  right: 26px;
  margin-inline: auto;
  display: grid;
  justify-content: stretch;
  text-align: center;
  gap: 34px;
  padding: 24px;
  background: linear-gradient(180deg, #344aba 0%, #001479d4 100%);
  border-radius: 40px;
  box-shadow: 0px -8px 0px 4px #140e66 inset, 0px 6px 0px 8px #2463ff inset;
}

.modal-title {
  margin-top: -80px;
  margin-bottom: 12px;
  font-size: 82px;
  font-weight: 400;
  line-height: 112.8px;
  letter-spacing: -0.005em;
  background: linear-gradient(180deg, #67b6ff 16.42%, #ffffff 100%);
  -webkit-text-stroke: 4px #243041; /* Kenar çizgisi */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-btn {
  padding: 12px;
  width: 100%;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.05em;
  color: #fff;
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: 0px -2px 0px 3px #140e66 inset, 0px 1px 0px 6px #c642fb inset;
  border-radius: 40px;

  &:hover {
    background: linear-gradient(180deg, #ff96ff 16.42%, #99b6ff 100%);
  }
}

@media screen and (min-width: 600px) {
  .word-box {
    width: 85px;
    height: 112px;
    font-size: 64px;
    line-height: 76.8px;
    border-radius: 32px;
  }

  .word-box.thenFour {
    width: 85px;
  }

  .word-box.thenSix {
    width: 63px;
  }

  .word-box.thenEight {
    width: 49px;
  }

  .word-box.thenTen {
    width: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 50px 40px;
  }

  .modal-content {
    width: 50%;
  }

  .start-menu {
    width: 70%;
  }

  .how-to-play-list-item {
    span {
      grid-column: 1;
      grid-row: 1 / span 2;
      font-size: 88px;
      line-height: 105.6px;
    }

    h2 {
      grid-column: 2;
      grid-row: 1;
    }

    p {
      grid-column: 2;
      grid-row: 2;
    }
  }

  .tab-header-title {
    margin-inline: auto;
    font-size: 104px;
    line-height: 124.8px;
    -webkit-text-stroke: 4px #243041;
  }

  .category-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-list-item {
    button {
      padding: 62px;
      font-size: 48px;
      line-height: 57.6px;
      border-radius: 40px;
    }
  }

  .back-btn {
    width: 64px;
    height: 64px;
    img {
      width: 28px;
    }
  }

  .game-header-left {
    gap: 32px;
    h1 {
      font-size: 48px;
      line-height: 57.6px;
    }
  }

  .game-header-right {
    gap: 40px;
    img {
      width: 53px;
    }
  }

  .progress-bar {
    height: 32px;
    padding: 10px;
  }

  .keyboard-btn {
    padding: 8px 4px;
    font-size: 48px;
    line-height: 57.6px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 50px 110px;
  }

  .modal-content {
    width: 30%;
  }

  .start-menu {
    width: 40%;
  }

  .how-to-play-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .how-to-play-list-item {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
    padding: 48px 60px;
    span {
      grid-column: 1;
      grid-row: 1;
    }

    h2 {
      grid-column: 1;
      grid-row: 2;
      font-size: 48px;
      line-height: 57.6px;
      text-align: center;
    }

    p {
      grid-column: 1;
      grid-row: 3;
      text-align: center;
      font-size: 26px;
      line-height: 31.2px;
    }
  }

  .tab-header-title {
    font-size: 136px;
    line-height: 163.2px;
  }

  .back-btn {
    width: 94px;
    height: 94px;
    img {
      width: 41px;
    }
  }

  .category-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .word-box {
    border-radius: 40px;
    width: 112px;
    height: 128px;
    font-size: 88px;
    line-height: 105.6px;
  }
  .word-box.thenFour {
    width: 112px;
  }

  .word-box.thenSix {
    width: 112px;
  }

  .word-box.thenEight {
    width: 112px;
  }

  .word-box.thenTen {
    width: 112px;
  }

  .game-header-left {
    gap: 58px;
    h1 {
      font-size: 88px;
      line-height: 105.6px;
    }
  }
}
